*{
	padding: 0;
	margin: 0;
	font-family: "Myriad Pro", sans-serif;
}

html{
	scroll-behavior: smooth;
}

.main{
	background: #222222;
}

.top-image{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(Assets/pemandangan.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
}

nav{
	height: 3.5rem;
	background: #222222;
	text-align: center;
	width: 100%;
	opacity: .8;
	position: fixed;
}

nav:hover{
	opacity: 1;
}

nav ul{
	margin-right: 1rem;
}

nav ul li{
	display: inline-block;
	margin: 0 0.25rem;
	margin-top: 2rem;
	line-height: 0;
}

nav ul li a{
	margin-right: 1rem;
	color: white;
	font-size: 1.25rem;
	text-decoration: none;
}

#home-btn{
	color: yellow;
}

nav ul li a:hover{
	transition: 0.5s ease;
	color: yellow;
}

label #btn, label #cancel{
	color: white;
	font-size: 2rem;
	float: right;
	line-height: 4rem;
	margin-right: 2rem;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

.text-title{
	padding-top: 15rem;
}

h1{
	font-size: 5rem;
	color: white;
}

h2{
	color: white;
}


.about-page{
	text-align: center;
	background: #222222;
}

.h2-about{
	font-size: 2.5rem;
}

img.profile{
	border-radius: 50%;
	width: 10rem;
	margin-right: auto;
	margin-top: 3rem;
}

.about{
	font-size: 2.5rem;
	margin-top: 2rem;
}

.opening{
	margin-left: 19%;
	max-width: 30%;
	text-align: justify;
	color: white;
	font-size: 1.25rem;
	margin-top: 2rem;
	float: left;
}

.fotografi{
	margin-left: 4%;
	max-width: 30%;
	float: left;
	text-align: justify;
	color: white;
	font-size: 1.25rem;
	margin-top: 2rem;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: left;
}

p{
	color: white;
}

.achievements{
	margin-top: 15rem;
	text-align: center;
	background: #222222;
	margin-left: auto;
	margin-right: auto;
}

.achieve{
	margin-top: 5rem;
	font-size: 2.5rem;
}

h3{
	color: white;
}

h3.piagam1{
	max-width: 80%;
	margin-left: 10%;
	font-size: 1.7rem;
	margin-top: 3rem;
}

.debat{
	width: 32rem;
	margin-top: 1%;
}

.debat-description{
	margin-left: 10%;
	max-width: 80%;
	font-style: bold;
	font-size: 0.8rem;
}

.deskripsi1{
	margin-left: 10%;
	max-width: 80%;
	text-align: justify;
	color: white;
	font-size: 1.25rem;
	margin-top: 1%;
}

h3.piagam2{
	max-width: 80%;
	margin-left: 10%;
	font-size: 1.7rem;
	margin-top: 5rem;
}

.deskripsi2{
	color: white;
	font-size: 1.25rem;
	max-width: 60%;
	text-align: justify;
	margin-top: 1%;
	float: left;
	margin-left: 1rem;
}

img.fashion{
	width: 15rem;
	margin-right: auto;
	margin-top: 1%;
	margin-left: 10%;
	float: left; 
}

.seminar-page{
	margin-top: 15rem;
	text-align: center;
	background: #222222;
	margin-left: auto;
	margin-right: auto;
}

.seminar-title{
	margin-top: 5rem;
	font-size: 2.5rem;
}

.certificate1{
	width: 35rem;
	margin-right: auto;
	margin-top: 5%;
}

.seminar1-deskripsi1{
	max-width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 1.25rem;
	color: white;
	margin-top: 0.5%;
}

.seminar1-deskripsi2{
	max-width: 80%;
	margin-left: 10%;
	text-align: justify;
	color: white;
	font-size: 1.25rem;
	margin-top: 0.5%;
}

.certificate2{
	width: 35rem;
	margin-right: auto;
	margin-top: 5%;
}

.seminar2-deskripsi1{
	max-width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 1.25rem;
	color: white;
	margin-top: 0.5%;
}

.seminar2-deskripsi2{
	max-width: 80%;
	margin-left: 10%;
	text-align: justify;
	color: white;
	font-size: 1.25rem;
	margin-top: 0.5%;
}

.photography-page{
	margin-top: 15rem;
	text-align: center;
	background: #222222;
	margin-left: auto;
	margin-right: auto;
}

.photograph{
	margin-top: 5rem;
	font-size: 2.5rem;
}

.my-photograph{
	max-width: 80%;
	margin-left: 10%;
	font-size: 1.7rem;
	margin-top: 3rem;
}

.temple{
	width: 35rem;
	margin-right: auto;
	margin-top: 2%;
}

.contact-page{
	margin-top: 12rem;
	text-align: center;
	background: #222222;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 70vh;
}

.contact-title{
	margin-top: 5rem;
	font-size: 2.5rem;
}

.email-me{
	margin-top: 3rem;
	font-size: 2.2rem;
}

.phone-me{
	margin-top: 2rem;
	font-size: 2.2rem;
}

.linkedin{
	transition: 0.5s ease;
	width: 3rem;
	margin-top: 2rem;
	margin-bottom: 5rem;
	margin-right: 3rem;
}

.linkedin:hover{
	transition: 0.5s ease;
	width: 5rem;
}

.instagram{
	transition: 0.5s ease;
	width: 3rem;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

.instagram:hover{
	transition: 0.5s ease;
	width: 5rem;
}

.to-top{
	border:0.25rem solid white;
	padding: 0.10rem;
	margin-top: 10rem;
	text-decoration: none;
	color: black;
	background: white;
	transition: 0.5s ease;
}

.to-top:hover{
	background: black;
	color: white;
	border:0.25rem solid black;
	transition: 0.5s ease;
}

@media only screen and (max-width: 1024px){
	h1.welcome{
		font-size: 4rem;
	}

	.h2-about{
		font-size: 2rem;
	}

	nav ul li a{
		font-size: 1.20rem;
	}

	img.profile{
		width: 8rem;
	}

	.about{
		font-size: 2rem;
	}

	.opening{
		font-size: 1.10rem;
		max-width: 80%;
		margin-left: 10%;
	}

	.fotografi{
		font-size: 1.10rem;
		max-width: 80%;
		margin-left: 10%;
	}

	.achieve{
		font-size: 2rem;
	}

	h3.piagam1{
	font-size: 1.4rem;
	}

	.debat{
		width: 28rem;
	}

	.deskripsi1{
		font-size: 1.10rem;
	}

	h3.piagam2{
		font-size: 1.4rem;
	}

	.deskripsi2{
		font-size: 1.10rem;
		max-width: 80%;
		text-align: center;
		margin-left: 10%;
	}

	img.fashion{
		width: 13rem;
		float: none;
		text-align: center;
		margin-left: 0;
	}

	.deskripsi2{
		font-size: 1.10rem;
	}

	img.fashion{
		width: 13rem;
	}

	.seminar-title{
		font-size: 2rem;
	}

	.certificate1{
		width: 28rem;
	}

	.seminar1-deskripsi1{
	font-size: 1.10rem;
	}

	.seminar1-deskripsi2{
	font-size: 1.10rem;
	}

	.certificate2{
		width: 28rem;
	}

	.seminar2-deskripsi1{
		font-size: 1.10rem;
	}

	.seminar2-deskripsi2{
		font-size: 1.10rem;
	}

	.photograph{
		font-size: 2rem;
	}

	.my-photograph{
		font-size: 1.4rem;
	}

	.temple{
		width: 28rem;
	}

	.contact-title{
		font-size: 2rem;
	}

	.email-me{
		font-size: 1.7rem;
	}

	.phone-me{
		font-size: 1.7rem;
	}

	.linkedin{
		width: 2rem;
	}

	.linkedin:hover{
		width: 3.5rem;
	}

	.instagram{
		width: 2rem;
	}

	.instagram:hover{
		width: 3.5rem;
	}
}

@media(max-width: 860px){
	label #btn{
		display: block;
	}

	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #222222;
		top: 3.5rem;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav ul li{
		display: block;
		margin: 3rem 0;
		line-height: 1rem;
	}

	#check:checked ~ ul{
		left: 0;
	}

	#check:checked ~ label #btn{
		display: none;
	}

	#check:checked ~ label #cancel{
		display: block;
	}
}

@media screen and (max-width: 736px){
	h1.welcome{
		font-size: 3.5rem;
	}

	.h2-about{
		font-size: 1.8rem;
	}

	img.profile{
		width: 7rem;
	}

	.about{
		font-size: 1.8rem;
	}

	.opening{
		font-size: 1rem;
	}

	.programming{
		font-size: 1rem;
	}

	.fotografi{
		font-size: 1rem;
	}

	.achieve{
		font-size: 1.8rem;
	}

	.debat{
		width: 25rem;
	}

	h3.piagam1{
	font-size: 1.3rem;
	}

	.deskripsi1{
		font-size: 1rem;
	}

	h3.piagam2{
		font-size: 1.3rem;
	}

	.deskripsi2{
		font-size: 1rem;
	}

	img.fashion{
		width: 11.5rem;
	}

	.seminar-title{
		font-size: 1.8rem;
	}

	.certificate1{
		width: 25rem;
	}

	.seminar1-deskripsi1{
	font-size: 1rem;
	}

	.seminar1-deskripsi2{
	font-size: 1rem;
	}

	.certificate2{
		width: 25rem;
	}

	.seminar2-deskripsi1{
		font-size: 1rem;
	}

	.seminar2-deskripsi2{
		font-size: 1rem;
	}

	.photograph{
		font-size: 1.8rem;
	}

	.my-photograph{
		font-size: 1.3rem;
	}

	.temple{
		width: 27rem;
	}

	.contact-title{
		font-size: 1.8rem;
	}

	.email-me{
		font-size: 1.5rem;
	}

	.phone-me{
		font-size: 1.5rem;
	}

	.linkedin{
		width: 1.8rem;
	}

	.linkedin:hover{
		width: 3rem;
	}

	.instagram{
		width: 1.8rem;
	}

	.instagram:hover{
		width: 3rem;
	}
}

@media screen and (max-width: 480px){
	h1.welcome{
		font-size: 3.4rem;
	}

	.h2-about{
		font-size: 1.6rem;
	}

	img.profile{
		width: 5.5rem;
	}

	.about{
		font-size: 1.6rem;
	}

	.opening{
		font-size: 0.8rem;
	}

	.programming{
		font-size: 0.8rem;
	}

	.fotografi{
		font-size: 0.8rem;
	}

	.achieve{
		font-size: 1.6rem;
	}

	.debat{
		width: 18rem;
	}

	.debat-description{
		font-size: 0.5rem;
	}

	h3.piagam1{
	font-size: 1.10rem;
	}

	.deskripsi1{
		font-size: 0.8rem;
	}

	h3.piagam2{
		font-size: 1.10rem;
	}

	.deskripsi2{
		font-size: 0.8rem;
	}

	img.fashion{
		width: 10rem;
	}

	.seminar-title{
		font-size: 1.6rem;
	}

	.certificate1{
		width: 18rem;
	}

	.seminar1-deskripsi1{
	font-size: 0.8rem;
	}

	.seminar1-deskripsi2{
	font-size: 0.8rem;
	}

	.certificate2{
		width: 18rem;
	}

	.seminar2-deskripsi1{
		font-size: 0.8rem;
	}

	.seminar2-deskripsi2{
		font-size: 0.8rem;
	}

	.photograph{
		font-size: 1.6rem;
	}

	.my-photograph{
		font-size: 1.10rem;
	}

	.temple{
		width: 18rem;
	}

	.contact-title{
		font-size: 1.6rem;
	}

	.email-me{
		font-size: 1.3rem;
	}

	.phone-me{
		font-size: 1.3rem;
	}

	.linkedin{
		width: 1.6rem;
	}

	.linkedin:hover{
		width: 2.5rem;
	}

	.instagram{
		width: 1.6rem;
	}

	.instagram:hover{
		width: 2.5rem;
	}
}

